@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  position: relative;
  overflow-x: hidden;
  height: 10000px;
}

.costume-styles {
  margin-top: 10px !important;
  /* top: 773px !important; */
}
.scroll-target {
  scroll-margin-top: 15px;
}
